@model HarborView_Inn.Models.AdminViewModel
@{
	var x = "Admin Dashboard";
}
<!-- Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<!-- CSS -->
<link rel="stylesheet" href="~/css/admin.css">
<link rel="stylesheet" href="~/css/styles.css" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<!-- Tailwind CDN -->
<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon.ico">

<partial name="_partialView" model="x" />
<div class="container">
	<div class="row">
		<div class="col-12">
			<p class="heading">List of Pending Reservations</p>
		</div>
	</div>
</div>

<div class="page-buttons">
  <button id="button1" class="active" onclick="togglePage('button1')">Rooms</button>
  <button id="button2" onclick="togglePage('button2')">Tables</button>
</div>

<div id="page1-content" class="page-content active">
	<div class="container">
		@foreach (var reservation in Model.room)
		{
			<div class="row">
				<div class="col-12">
					<div class="reservation-box">
						<div class="inner-box">
							<div>
								<strong>Booking requested By:</strong> @reservation.ReservationName
							</div>

							<div>
								<strong>Class:</strong> @reservation.Category
							</div>

							<div>
								<strong>Check-In:</strong> @reservation.CheckIn
							</div>

							<div>
								<strong>Check-Out:</strong> @reservation.CheckOut
							</div>

							<div>
								<strong>Rooms:</strong> @reservation.noOfRooms
							</div>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="Approve-btn">
						<div>
							<form action="/Admin/acceptReservation/@reservation.ResId" method="post">
								<input type="hidden" name="reservationId" value="@reservation.ResId"/>
								<button type="submit">Approve</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="Reject-btn">
						<div>
							<form action="/Admin/rejectReservation/@reservation.ResId" method="post">
								<input type="hidden" name="reservationId" />
								<button type="submit">Reject</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>>

<div id="page2-content" class="page-content">
  	<div class="container">
		@foreach (var reservation in Model.dining)
		{
			<div class="row">
				<div class="col-12">
					<div class="reservation-box">
						<div class="inner-box">
							<div>
								<strong>Reservation requested By:</strong> @reservation.Name
							</div>

							<div>
								<strong>Class:</strong> @reservation.category
							</div>

							<div>
								<strong>Dated:</strong> @reservation.Date
							</div>

							<div>
								<strong>Expected Time:</strong> @reservation.time
							</div>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="Approve-btn">
						<div>
							<form action="/Admin/acceptReservation/@reservation.TableId" method="post">
								<input type="hidden" name="reservationId" value="@reservation.TableId"/>
								<button type="submit">Approve</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-2">
					<div class="Reject-btn">
						<div>
							<form action="/Admin/rejectReservation/@reservation.TableId" method="post">
								<input type="hidden" name="reservationId" value="@reservation.TableId"/>
								<button type="submit">Reject</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

</div>

<script src="~/js/admin.js"></script>